body {
  font-family: "Ubuntu", sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  background-image: url("image/bg.jpg");
  background-size: cover;
}
.left {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 35px;
}
.mid {
  display: block;
  margin: 8px auto;
  width: 48%;
  font-size: 25px;
}
.right {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 30px;
}
.left img {
  margin: auto;
  width: 80px;
  border-radius: 50%;
}
h2 {
  font-size: 20px;
  line-height: 0px;
  text-align: center;
  color: rgb(248 212 190);
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  text-decoration: none;
  padding: 12px;
  color: #feb2b2;
}
.dates {
  text-decoration: none;
  padding: 12px;
  color: #feb2b2;
  cursor: pointer;
}
.navbar li a:hover {
  color: #12dacc;
}
.navbar li a:active {
  text-decoration: underline;
  color: #11df2c;
}
.right img {
  width: 28px;
  filter: invert(100%);
  cursor: pointer;
}
h1 {
  margin: auto;
  margin-top: 35px;
  width: 33%;
  text-align: center;
  font-size: 50px;
  color: #00e8ff;
}
